* {
		box-sizing: border-box;
	}

a {
	color: black;
	font-family: Helvetica;
	font-weight: bold;
	top: 20px;
	overflow: auto;
}

.borders {
	background-color: lightgrey;
	border: 10px solid black;
	margin: 10px;
}

@media (min-width: 992px) {
	.borders {
		float: left;
		width: 30%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.borders {
		float: left;
	}

	#firstdiv {
		width: 45%;
	}

	#seconddiv {
		width: 45%;
	}

	#thirddiv {
		width: 95%;
	}
}

@media (max-width: 767px) {
	.borders {
		width: 90%;
	}
}




p {
	color: black;
	float: right;
	position: relative;
	bottom: 20px;
	background-color: skyblue;
	font-family: Helvetica;
	font-weight: bold;
	padding: 10px;
	border: 4px solid black;
}